<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811601508516-55f8spku79oh9q0vjt5caqveaa5qgmlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811601508516-55f8spku79oh9q0vjt5caqveaa5qgmlu</string>
	<key>API_KEY</key>
	<string>AIzaSyAxGhRMCmI3Ue0kj51DkuUevv9WGd-4gAY</string>
	<key>GCM_SENDER_ID</key>
	<string>811601508516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boquet.MyResume</string>
	<key>PROJECT_ID</key>
	<string>my-resume-42672</string>
	<key>STORAGE_BUCKET</key>
	<string>my-resume-42672.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811601508516:ios:408b855ec5d1fd3d744e31</string>
	<key>DATABASE_URL</key>
	<string>https://my-resume-42672.firebaseio.com</string>
</dict>
</plist>